/* bilan énergétique */
#bilan table {
    border: 2px solid #999;
    border-spacing: 0px;
    border-collapse: collapse; 
}
#bilan table td {
    border: 1px solid #999;
    font-size: 10px;
    padding: 3px;
}
#bilan .colonne_un {
    width: 350px;
    float: left;
    margin-right: 5px;
    padding: 5px;
}
#bilan .colonne_deux {
    padding: 5px;
    width: 310px;
    border: 1px solid #eee;
    float: left;
    margin-left: 5px;
}
#bilan .colonne_deux h2 {
    font-size: 12px;
}
#bilan .colonne_deux .sstitre {
    font-weight: normal;
    color: #666;
}
#bilan .colonne_deux h3 {
    font-size: 11px;
}

label {
    float: left;
    width: 220px;
    font-weight: bold;
}
input {
    border: 2px solid #486D91;
    background: #eee;
    padding: 3px;
    font-size: 12px;
}
.bouton input {
    background: #486D91;
    border: 2px solid #ccc;
    color: #fff;
    cursor: pointer;
}
.error {
    color: red;
    padding: 2px;
    border: 1px dotted;
}
.error ul li {
    list-style-type: square;
}
#footer_bilan {
    margin-top: 30px;
    font-size: 10px;
}
/*.bouton {
    padding-left: 220px;
}*/
